@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Brygada 1918', serif;
    margin-right: 300px;
    margin-left: 300px;
}

header {
    text-align: center;
    font-family: 'Brygada 1918', serif;

}

.logout_btn {
    text-align: left;    
    margin: 0;           
    width: fit-content;  
    padding: 10px;     
}

.main_header {
    text-align: center;
    font-family: 'Brygada 1918', serif;
    font-size: xx-large;
    padding: 100px;
}

.register_header {
    text-align: center;
    font-family: 'Brygada 1918', serif;
    font-size: x-large;
    padding: 100px;
}

body form {
    text-align: center;
    margin: 0 auto;
}

.btn_log {
    background-color: #863525;
    color: white;
    font-family: 'Brygada 1918', serif;
    font-size: large;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button {
    background-color: #863525;
    color: white;
    font-family: 'Brygada 1918', serif;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.submit_flash {
    text-align: left;    
    margin: 0;           
    width: fit-content;  
    padding: 10px;       
}

.submit_flash .flash_submit_btn {
    text-align: left;
    margin: 0;
}

img {
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.gallery-item {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.keywords {
    margin-top: 8px;
    font-size: 0.9em;
    color: #333;
}
